apiVersion: v1
kind: Service
metadata:
  name: mysql
  labels:
    name: mysql
    app: demo  
spec: 
  ports: 
    - name: mysql
      port: 3306
      targetPort: 3306
  selector: 
    name: mysql
    app: demo
